---
const about = {
	name: "Lucian Andrei Negoita",
	role: "Arquitectura Cloud | DevOps | Full Stack Development ",
	description: `Estudiante de Ingeniería Informática con fuerte interés en Cloud Computing, DevOps y Full Stack Development. Tengo experiencia diseñando e implementado soluciones en AWS, automatización y CI/CD, trabajando en equipos ágiles.`,
};
---

<section id="sobre-mi" class="about-me py-8">
	<h2 class="text-3xl font-bold mb-4">Sobre mí</h2>
	<p class="text-xl">
		<strong>{about.name}</strong> – {about.role}
	</p>
	<p class="mt-2">{about.description}</p>
	<p class="mt-4">
		<strong>Contacto:</strong>
		<a href="mailto:negoitalucianandrei@gmail.com" class="underline"
			>negoitalucianandrei@gmail.com</a
		> | Tel: (+34) 671 901 629
	</p>
	<p class="mt-2">
		<a
			href="https://linkedin.com/in/lucian-andrei-negoita"
			target="_blank"
			class="underline">LinkedIn</a
		> |
		<a href="https://github.com/Lux-source" target="_blank" class="underline"
			>GitHub</a
		>
	</p>
</section>
