---
interface Props {
	title: string;
	institution: string;
	description: string;
	date: string;
}
const { title, institution, description, date } = Astro.props;
---

<div class="relative pb-8">
	<h3 class="text-xl font-semibold text-teal-600 dark:text-emerald-400">
		{title}
	</h3>
	<h4 class="font-semibold text-lg text-gray-700 dark:text-gray-300">
		{institution}
	</h4>
	<time class="text-sm text-gray-500 dark:text-gray-400">{date}</time>
	<p class="mt-2 text-gray-600 dark:text-gray-400">{description}</p>
</div>
