---
import EducationItem from "./EducationItem.astro";
import translationsES from "../../local/es.json";
import translationsEN from "../../local/en.json";

const { lang = "es" } = Astro.props;
const t = lang === "en" ? translationsEN : translationsES;

// "education" aquí es el array
const EDUCATION = t.education;
---

<section class="education">
	<ol class="relative mt-8">
		{
			EDUCATION.map((edu) => (
				<li class="flex flex-col gap-y-16">
					<EducationItem {...edu} lang={lang} />
				</li>
			))
		}
	</ol>
</section>
