---
import EducationItem from "./EducationItem.astro";
import { t } from "../utils/i18n.js";
const { lang } = Astro.props;
const EDUCATION = t(lang, "education");
---

<section class="education">
	<ol class="relative mt-8">
		{
			EDUCATION.map((edu) => (
				<li class="flex flex-col gap-y-16">
					<EducationItem {...edu} lang={lang} />
				</li>
			))
		}
	</ol>
</section>
