---
import ExperienceItem from "./ExperienceItem.astro";
import { t } from "../utils/i18n.js";
const { lang } = Astro.props;
const EXPERIENCE = t(lang, "experience.items");
---

<ol class="relative mt-16">
	{
		EXPERIENCE.map((exp) => (
			<li>
				<ExperienceItem {...exp} lang={lang} />
			</li>
		))
	}
</ol>
