---
const personalImageAlt = "Lucian Andrei Negoita";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
	<div class="flex gap-4 mb-4">
		<img
			class="rounded-full shadow-lg w-16 h-16"
			src="/lucian.webp"
			alt={personalImageAlt}
		/>
		<a
			href="https://linkedin.com/in/lucian-andrei-negoita"
			target="_blank"
			rel="noopener"
			class="flex items-center transition md:justify-center md:hover:scale-105"
		>
			<Badge>Disponible para trabajar</Badge>
		</a>
	</div>
	<h1
		class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
	>
		Hola, soy Lucian Andrei Negoita
	</h1>
	<p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
		Estudiante de Ingeniería Informática con fuerte interés en <strong
			class="text-yellow-500 font-semibold"
			>Arquitectura Cloud, DevOps y Full Stack Development
		</strong>.
	</p>
	<nav class="flex flex-wrap gap-4 mt-8">
		<SocialPill href="mailto:negoitalucianandrei@gmail.com">
			<MailIcon class="w-5 h-5" />
			Contáctame
		</SocialPill>
		<SocialPill href="https://linkedin.com/in/lucian-andrei-negoita">
			<LinkedInIcon class="w-5 h-5" />
			LinkedIn
		</SocialPill>
	</nav>
</div>
